body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font: 12px sans-serif;
}

body {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-justify-content: flex-start;
  align-items: stretch;
}

#sidebar-container {
  -webkit-user-select: none;
  width: 150px;
  background-color: #ccc;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-justify-content: flex-start;
}

#sidebar {
  -webkit-flex: 1;
}

#sidebar-drag {
  width: 7px;
  -webkit-flex: none;
  cursor: col-resize;
  background-color: #999;
}

#project-name {
  padding-left: 30px;
  font-size: 18px;
  font-weight: normal;
}

#main {
  -webkit-flex: 1;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-justify-content: flex-start;
  align-items: stretch;
}

#editor {
   -webkit-flex: 1;
 }

#actions {
  margin-left: 30px;
}

#toolbar {
  display:none;
  height: 40px;
  background-color: #333;
  -webkit-flex-direction: column;
  -webkit-justify-content: flex-start;
}

#debug-container {
  height: 100px;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-justify-content: flex-start;
}

#debug-drag {
  background-color: #999;
  height: 7px;
  -webkit-flex: none;
  cursor: row-resize;
}

#debug {
  -webkit-flex: 1;
  padding: 10px;
  color: #333;
  background-color: #eed;
  overflow-y: scroll;
}

.error {
  color: red;
}


